**/node_modules/**
node_modules
**/.DS_Store
.DS_Store
**/.env
.env
**/.serverless
.serverless
**/.webpack
.webpack
package-lock.json
**/package-lock.json
# package directories
node_modules
jspm_packages
**/jspm_packages
